/* Section 3 */
.Section3 {
  background-color: #1a1030;
}

.Sec3Header,
.Sec3Item {
  visibility: hidden;
}
.LumiereStoreIMG, .OrbitAnalyticsIMG, .VelourHotelsIMG,
.PathfinderLMSIMG, .NovaLaunchIMG, .MediConnectIMG {
  height: 280px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.LumiereStoreIMG {
  background-image: url(img/optmized/Lumiere.jpg);
}
.OrbitAnalyticsIMG {
  background-image: url(img/optmized/orbit.png);
}
.VelourHotelsIMG {
  background-image: url(img/optmized/velour\ Hotels.jpg);
}
.PathfinderLMSIMG {
  background-image: url(img/optmized/lms-pathfinder.jpg);
}
.NovaLaunchIMG {
  background-image: url(img/optmized/Nova-Launcher.png);
}
.MediConnectIMG {
  background-image: url(img/optmized/mediconnect.jpg);
}